:root {
  --system-ui: -apple-system, BlinkMacSystemFont, 'avenir next', 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  --unit: 8px;
  --max-width: 1200rem;
//
  --ease: all 400ms ease;
  --inout: cubic-bezier(.8,0,.16,1);
  --animbase: 500ms;
//
  --space: 5.6rem;
//
  --zmax: 9999;
  --z5: 5;
  --z4: 4;
  --z3: 3;
  --z2: 2;
  --z1: 1;
  --z0: -1;
  --zmin: -9999;
//
  --gravity: #0e0e0f;
  --cucumber: #D2FB9B;
  --darkkale: #73987A;
  --onion: #F2F2F2;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 62.5% !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}

body {
  background: var(--gravity);
  color: var(--onion);
  font: normal 1.7rem/1.4 var(--system-ui);
  // background-image: radial-gradient(rgba(210, 251, 155, .32) 1px, var(--gravity) 1px);
  // background-size: 20px 20px;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, blockquote, caption, ul, li, img, button, section, article, figure, main, footer {
  margin: 0;
  padding: 0;
}

li { list-style: none; }

a { text-decoration: none; color: inherit; cursor: pointer; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

button     { border: none; background: #ccc; cursor: pointer; font-size: 1.3rem; }

video, img { display: block; max-width: 100%; height: auto; }
img        { vertical-align: top; }
ul         { list-style-type: none; -webkit-margin-before: 0; -webkit-margin-after: 0; }

// :focus     { outline: 1px solid #fff; }
//
// input {
//   padding: 1.2rem 1.2rem 1.2rem 1.2rem;
//   border: 1px solid var(--gravity);
//   border-radius: 0;
//   font-size: 1.3rem;
//   line-height: 1.3;
//   text-transform: uppercase;
//   background: var(--kale);
// }
//
// ::placeholder {
//   color: var(--gravity);
//   // font-size: 1.3em;
//   line-height: 1.3;
// }

