@import '~/style/grid.scss';

@font-face {
  font-family: "polysans-slim";
  src: url("../static/fonts/polysans-slim.woff2") format("woff2");
  font-display: swap;
}

.title { font-family: 'polysans-slim', var(--system-ui); }

.bold {
  text-stroke: .75px var(--onion);
  -webkit-text-stroke: .75px var(--onion);
 }

.uc { text-transform: uppercase; }
.tac { text-align: center; }
.tar { text-align: right; }
