:root {
  --system-ui: -apple-system, BlinkMacSystemFont, 'avenir next', 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  --unit: 8px;
  --max-width: 140rem;
//
  --ease: all 400ms ease;
  --inout: cubic-bezier(.8,0,.16,1);
  --animbase: 500ms;
//
  --zmax: 9999;
  --z5: 5;
  --z4: 4;
  --z3: 3;
  --z2: 2;
  --z1: 1;
  --z0: -1;
  --zmin: -9999;
//
  --gravity: #202023;
  --kale: #97B99E;
  --darkkale: #73987A;
  --stone: #F2F2F2;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 62.5% !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}

body {
  // overflow: hidden;
  // height: 100vh;
  background: var(--kale);
  color: var(--gravity);
  font: normal 1.8rem/1.4 var(--system-ui);
  overflow-x: hidden;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, blockquote, caption, ul, li, img, button, section, article, figure, main, footer {
  margin: 0;
  padding: 0;
}

li { list-style: none; }

a { text-decoration: none; color: inherit; cursor: pointer; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

button     { border: none; background: #ccc; cursor: pointer; font-size: 1.3rem; }
video, img { display: block; max-width: 100%; height: auto; }
img        { vertical-align: top; }
ul         { list-style-type: none; -webkit-margin-before: 0; -webkit-margin-after: 0; }
// :focus     { outline: 0; }

.item {
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--gravity);

  .image {
    margin-bottom: 1.4rem;
    border-radius: 8px;
    width: 100%; height: 26.4rem;
    object-fit: cover;
  }

  .meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    * { font-size: 1.3rem; }
  }

  .name {

  }
}